 <li class="ui-state-default ui-corner-all" id="item{{ item.id }}">
 
               <input type="checkbox" name="done{{ item.id }}" id="done{{ item.id }}" onclick="completeTask({{ item.id }})"/>
                <span id="sel{{ item.id }}"><select id="item{{ item.id }}Priority" onchange="changePriority({{ item.id }}, this)">
                        {% for p in range(1,11) %}
                                <option value="{{ p }}"
                                        {% if p == item.priority_index() %}
                                                selected="selected"
                                        {% endif %}>{{ p }}</option>
                        {% endfor %}
                </select></span>
                &nbsp;
                <div class="task_title" id="item{{ item.id }}Title">{{ item.title }}</div>
                &nbsp;
                <span class="ui-icon ui-icon-pencil" title="Edit Title" style="display:inline-block" onclick="editTitle('{{ item.id }}');"></span>
                <span id="item{{ item.id }}Tags" class="task_tags">
                        {% for tag in item.tags %}
                                <span title="Delete Tag" onclick="removeTag({{item.id}}, {{tag.id}}, '{{tag.name}}')">{{ tag.name }}</span> &nbsp;
                        {% endfor %}
                </span>
                <span id="item{{ item.id }}AddTagSpan" style="display:none"><input type="text" id="item{{ item.id }}AddTag" name="item{{ item.id }}AddTag" onchange="addTag({{ item.id }})"/><input type="button" onclick="addTag({{ item.id }})" value="Save"></input></span>
                <span class="ui-icon ui-icon-tag" title="Add Tag" style="display:inline-block" onclick="tagBox('{{ item.id }}');"></span>
		<span class="ui-icon ui-icon-document" title="Edit Details" style="display:inline-block" onclick="noteBox('{{ item.id }}');"></span>
		<span class="ui-icon ui-icon-closethick" title="Delete" style="display:inline-block" onclick="deleteItem('{{ item.id }}');"></span>
</li>
