<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script src="{{ urlRoot }}static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{{ urlRoot }}static/js/jquery-ui-1.8.22.custom.min.js" type="text/javascript"></script>	
	<script src="{{ urlRoot }}static/js/tasks.js" type="text/javascript"></script>	
	<link rel="stylesheet" type="text/css" href="{{ urlRoot }}static/css/cupertino/jquery-ui-1.8.22.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{ urlRoot }}static/css/tasks.css" />
	<title>Tasks</title>
<script type="text/javascript">
	var itemOrder = jQuery.parseJSON('{{ itemOrder|safe }}');
    var urlRoot = '{{ urlRoot }}';
	var selectedList = '{{ session['selected_list'] }}';
	
	$.ajaxSetup ({
    	cache: false
	});

	
	$(function() {
		$("#newTaskPos").hide();
		$("#newListPos").hide();
		$( ".sortable" ).sortable({
			placeholder: "ui-state-highlight",
			cancel: "input,textarea,button,select,option",
			connectWith: ".sortable",
			update: function(event, ui){
				var items = $(".sortable").sortable('toArray');
				var value = JSON.stringify(items);
				$.post(urlRoot + "sort", {list: value}, function(data){
					var result = jQuery.parseJSON(data);
					for(var i in result){
						$("#" + i + "Priority").val(result[i]);
					}
				}).fail(function(data){ alert("An error occurred, unable to complete the request.")});
			}
		});
		updateTagAutocomplete();		
		$("#removeTag").click(function(){ 
			changeList();
		 });
		 $("#newListName").attr("autocomplete", false);
		 $("#newTitle").attr("autocomplete", false);
	});


</script>

</head>

<body>

<div class="list">
<div id="userName">Welcome {{ session['user'].name }}.
<span class="logout">
        <a href="{{ urlRoot }}logout">Logout</a>
</span>
<div class="mainMenu">
	<span class="ui-icon ui-icon-triangle-1-s" title="Options" style="display:inline-block" onclick="$('#mainMenu').toggle(); return false;"></span><a href="#" onclick="$('#mainMenu').toggle(); return false;">Options</a>
	<div id="mainMenu" style="display:none">
		<ul>
			<li><a href="#" onclick="deleteList();return false;">Delete List</a></li>
			<li>...</li>
		</ul>
	</div>
</div>
</div>
<div id="lists"><select id="selectList" name="selectList" onchange="changeList()"
	class="ui-button ui-widget ui-state-default ui-corner-all">
		{% for list in lists %}
			<option value="{{ list.id }}"
				{% if list.id == selectedList %}
					selected="selected"
				{% endif %}>{{ list.name }}</option>
		{% endfor %}
	
</select>
<div><a href="#" onclick="newList()"><span class="icon-border"><span class="ui-icon ui-icon-circle-plus"></span></span> New List</a></div>
<div id="newListPos">
	<form method="post" action="{{ urlRoot }}addList"><p>
             Name: <input type="text" name="newListName" id="newListName"/>&nbsp;
             <input type="submit" value="Save"></input>
        </p></form>
</div>
</div>
<div id="tagdiv" class="ui-widget-content">
	{% include 'taglist.html' %}
</div>
{% if tag != None %}
    <div>
	<h2>Tag: {{ tag.name }}<span class="icon-border"><span id="removeTag" class="ui-icon ui-icon-circle-close"></span></span> </h2>
    </div>
{% endif %}
<div><a href="#" onclick="newTask()"><span class="icon-border"><span class="ui-icon ui-icon-circle-plus"></span></span> New Task</a></div>
<div id="newTaskPos">
	Title: <input type="text" name="newTitle" id="newTitle" class="titleBox"/>&nbsp;
	<input type="button" onclick="saveNew()" value="Save"/>
</div>
<div class="taskListContainer">
<ul id="listitems1" class="sortable">
	{% for item in listItems %}
		{% include 'itemlist.html' %}
	{% endfor %}
</ul>
</div>
</div>	
	
</body>	
	
</html>
